

h1 {
    font-family: sans-serif;
}

h2 {
font-family: cursive;
}

img {
  float: left;
  width: 250px;
  margin: 10px;
  border-color: rgb(19, 105, 139);
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}

